@import "tailwindcss";

@layer base {
  :root {
    --radius: 0.625rem;

    --background: oklch(0.09 0.01 255);
    --foreground: oklch(0.80 0.19 145);
    --card: oklch(0.15 0.01 255);
    --card-foreground: oklch(0.80 0.19 145);
    --popover: oklch(0.15 0.01 255);
    --popover-foreground: oklch(0.80 0.19 145);
    --primary: oklch(0.40 0.19 145);
    --primary-foreground: oklch(0.98 0 0);
    --secondary: oklch(0.28 0.02 255);
    --secondary-foreground: oklch(0.98 0 0);
    --muted: oklch(0.28 0.02 255);
    --muted-foreground: oklch(0.50 0.19 145);
    --accent: oklch(0.70 0.19 145);
    --accent-foreground: oklch(0.15 0.01 255);
    --destructive: oklch(0.55 0.22 25);
    --destructive-foreground: oklch(0.98 0 0);
    --border: oklch(0.28 0.02 255);
    --input: oklch(0.23 0.02 255);
    --ring: oklch(0.62 0.19 145);
  }

  .dark {
    --background: oklch(0.09 0.01 255);
    --foreground: oklch(0.80 0.19 145);
    --card: oklch(0.15 0.01 255);
    --card-foreground: oklch(0.80 0.19 145);
    --popover: oklch(0.15 0.01 255);
    --popover-foreground: oklch(0.80 0.19 145);
    --primary: oklch(0.40 0.19 145);
    --primary-foreground: oklch(0.98 0 0);
    --secondary: oklch(0.28 0.02 255);
    --secondary-foreground: oklch(0.98 0 0);
    --muted: oklch(0.28 0.02 255);
    --muted-foreground: oklch(0.50 0.19 145);
    --accent: oklch(0.70 0.19 145);
    --accent-foreground: oklch(0.15 0.01 255);
    --destructive: oklch(0.55 0.22 25);
    --destructive-foreground: oklch(0.98 0 0);
    --border: oklch(0.28 0.02 255);
    --input: oklch(0.23 0.02 255);
    --ring: oklch(0.62 0.19 145);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}
